* {
    font-size: 2rem;
}

#buttons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    margin: 0 0 1rem 0;
}

#subtitles {
    position: fixed;
    left: 0;
    right: 0;
    top: 27vh;
    bottom: 10vh;
    
    overflow-y: auto;
}

#subtitles > div {
    margin: 0 1rem 1rem;
    text-decoration: underline 8px solid transparent;
}

#subtitles > div.current {
    text-decoration: underline 8px solid black;
}